@import "../../../material/project";

body{
    //font-family: 'Lato', sans-serif;
}

.Mantenimiento{
    height: 100%;
}

.Mantenimiento-features{
    text-align: center;
    margin: 150px 10px;
    min-height: 700px;
}

.Mantenimiento-featuresMainTitle{
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 15px;
    color: $navy;
}

.Mantenimiento-featuresMainDescription{
    width: 70%;
    margin: 0 auto 30px;
    color: $black;
    font-weight: 300;
}