.formZZ {
    /*margin: auto;*/
    width: 50%;
}
.rbtn {
    padding: 0 6px 0 6px !important;
}
section {
    border-radius: 3px;
    text-align: left;
    margin: auto;
    position: relative !important;
    padding-bottom: 10px; 
}
.w60{
    margin-left: 5%;
    width: 60%;
}
.w50{
    margin-left: 5%;
    width: 50%;
}

.mtm35{
    margin-top: -35px;
}
.mtm10{
    margin-top: -10px;
}
div.formY.layout-align-end-center.layout-row {
    height: 50px;
}
md-content.md-docs-dark-theme {
    color: rgba(255,255,255,1.0);
    background-color: rgb(48,48,48);
}
md-input-container.md-docs-dark-theme:not(.md-input-invalid).md-input-has-value label {
    color: rgba(255,255,255,0.7);
}
md-input-container.md-docs-dark-theme .md-input {
    color: rgba(255,255,255,1.0);
    border-color: rgba(255,255,255,0.12);
}

.mt27{
    margin-top: 27px;
}
md-select[disabled] md-select-value.md-select-value {
    color: rgb(67,94,107);
}
input[disabled].ng-pristine.ng-untouched.ng-valid.md-input.ng-not-empty{
    color: rgb(67,94,107);
}
md-menu-content {
    overflow-y: hidden !important;
}
md-pagination-wrapper {
    left: 6%;
}


span{
    display: inherit !important;
}
md-input-container.md-prompt-input-container.ng-scope.md-input-has-placeholder.md-default-theme {
    min-width: 550px;
}