<md-tabs class="" md-selected="0" style="min-height:700px">
  <md-tab id="tab1">
    <md-tab-label>{{scope.tipos && scope.tipos.length > 0? (scope.tipos.length == 1? scope.tipos[0].nom_tipo_libro: "Mixto") : (new? "Libro" : "Libros")}}</md-tab-label>
    <md-tab-body><br>
      <form name="enviarA" ng-if="new">
        <section class="w80"><br><br><br>
          <div layout-gt-sm="row" class="w60 mtm35">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Oficialia</label>
              <md-select ng-model="scope.oficialia">
                <md-option ng-repeat="oficialia in vm.oficialias track by oficialia.cve_oficialia" value="{{oficialia}}">
                  {{oficialia.cve_oficialia + ' - ' + oficialia.nom_oficialia}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Año</label>
              <input name="anio_libro" ng-model="libro.anio_libro" restrict-to="[0-9]" restrict-length="4" md-maxlength="4" autocomplete="off">
              <!--<input name="anio_libro" ng-model="vm.busqueda.anio_libro" restrict-length="4" md-maxlength="4">-->
            </md-input-container>
          </div>
          <div layout-gt-sm="row" class="w60 mtm35">
            <md-input-container class="md-block" flex-gt-sm ng-if="!vm.sic_oficialia">
              <label>Tomo</label>
              <input name="num_tomo" ng-model="libro.num_tomo" restrict-to="[0-9]" restrict-length="2" autocomplete="off">
              <!--<input name="num_tomo" ng-model="vm.busqueda.num_tomo" restrict-length="10" md-maxlength="10">-->
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Lomo</label>
              <input name="num_lomo" ng-model="libro.num_lomo" ng-disabled="!cambiar_lomo_manualmente && !vm.sic_oficialia" autocomplete="off">
              <!--<input name="num_lomo" ng-model="libro.num_lomo" restrict-to="[0-9]" restrict-length="10" disabled>-->
              <!--<input name="num_lomo" ng-model="vm.busqueda.num_lomo" restrict-length="10" md-maxlength="10">-->
            </md-input-container>
          </div>
          <div layout-gt-sm="row" class="w60 mtm35">
            <md-input-container class="md-block" flex-gt-sm>
              <label>{{scope.tipos && scope.tipos.length > 1? "Libro mixto": "Tipo de libro"}}</label>
              <md-select ng-model="scope.tipos" md-on-close="printselected()" data-md-container-class="selectdemoSelectHeader" multiple required>
                <md-optgroup label="Tipo de libro">
                  <md-option ng-value="tipo" ng-repeat="tipo in vm.tipos_libros track by tipo.cve_tipo_libro">{{tipo.nom_tipo_libro}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div><br>
          <div layout-gt-sm="row" class="w60 mtm35" ng-repeat="arreglo in libros">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Libro de {{arreglo[0].nom_tipo_libro.toLocaleLowerCase()}}</label>
              <input name="nom_tipo_libro" ng-model="arreglo[0].num_libro" restrict-to="[0-9]" restrict-length="2" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
              <!--<input name="num_lomo" ng-model="vm.busqueda.num_lomo" restrict-length="10" md-maxlength="10">-->
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm ng-if="arreglo.length == 2">
              <label>Libro de {{arreglo[1].nom_tipo_libro.toLocaleLowerCase()}}</label>
              <input name="nom_tipo_libro" ng-model="arreglo[1].num_libro" restrict-to="[0-9]" restrict-length="2" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
              <!--<input name="num_lomo" ng-model="vm.busqueda.num_lomo" restrict-length="10" md-maxlength="10">-->
            </md-input-container>
          </div>
       </section>
      </form><br ng-if="imprimir.length > 0 && new">
      <div layout="row" layout-align="start center">
        <div style="margin-left: 13%" ng-if="new">
          <md-button class="md-raised md-default btnr25" ng-click="search()" ng-if="!libro.$$hashKey && vm.sic_oficialia">Buscar</md-button>
          <md-button class="md-raised md-primary btnr25" ng-click="logx()" ng-if="!libro.$$hashKey">Agregar</md-button>
          <md-button class="md-raised md-primary btnr25" ng-click="cancel()" ng-if="!libro.$$hashKey && imprimir.length > 0">Cancelar</md-button>
          <md-button class="md-raised md-warn btnr25" ng-click="logx()" ng-if="libro.$$hashKey">Guardar</md-button>
          <md-button class="md-raised md-warn btnr25" ng-click="cambiar_lomo()" ng-if="libro.$$hashKey" ng-show="sic_oficialia" ng-disabled="cambiar_lomo_manualmente">Cambiar lomo</md-button>
        </div>
      </div><br ng-if="imprimir.length > 0 && new">
      <section class="w90" ng-if="imprimir.length > 0 && !new">
        <div layout-gt-sm="row" class="">
          <md-table-container class="w95">
            <table md-table>
              <thead md-head>
                <tr md-row>
                  <th md-column>Oficialia</th>
                  <th md-column>Año</th>
                  <th md-column>Tomo</th>
                  <th md-column>Lomo</th>
                  <th md-column>Tipo</th>
                  <th md-column>Opciones</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="libro" md-select-id="name" md-auto-select ng-repeat="libro in imprimir">
                  <td md-cell>{{libro.oficialia.cve_oficialia + ' - ' + libro.oficialia.nom_oficialia}}</td>
                  <td md-cell>{{libro.anio_libro}}</td>
                  <td md-cell>{{libro.num_tomo}}</td>
                  <td md-cell>{{libro.num_lomo}}</td>
                  <td md-cell>{{libro.tipo}}</td>
                  <td md-cell>
                    <md-button class="md-fab md-mini" aria-label="edit" ng-click="edit(libro)">
                      <md-icon md-svg-src="img/icons/edit.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini" aria-label="remove" ng-click="delete($index)">
                      <md-icon md-svg-src="img/icons/remove.svg"></md-icon>
                    </md-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
          <!--<md-table-pagination md-limit="vm.busqueda.limit" md-limit-options="[10,15,20]" md-page="vm.busqueda.page" md-total="{{vm.total}}" md-on-paginate="vm.getInventario" md-page-select style="min-width: 1150px"></md-table-pagination>-->
        </div>
      </section>
        <div layout="row" layout-align="start center" ng-if="!new">
          <div style="margin-left: 23%">
            <md-button class="md-raised md-warning btnr25" ng-click="search()" ng-if="!new">Buscar</md-button>
            <md-button class="md-raised md-primary btnr25" ng-click="logx()" ng-if="!new">Agregar</md-button>
            <md-button class="md-raised md-primary btnr25" ng-click="print()" ng-if="imprimir.length > 0">Imprimir etiquetas de lomos</md-button>
            <md-button class="md-raised md-primary btnr25" ng-click="printfront()" ng-if="imprimir.length > 0">Imprimir etiquetas frontales</md-button>
          </div>
        </div>
    </md-tab-body>
  </md-tab>
</md-tabs>