<md-content class="Page-Container Footer" layout-align="center center">
<md-icon md-svg-src="/img/icons/logo-grey.svg" class="Footer-logo"></md-icon>
<br/>
<br/>
<div class="Footer-text">
	Desarrollado por <a href="https://www.linkedin.com/in/rubenmbm3" class="Footer-link" target="_blank">Rubén Morales Félix</a>
</div>
<div class="Footer-text">
	&copy; 2017 USE, Gobierno del estado de Sinaloa
</div>
</md-content>