<div class="Page-Container Carga">
    <div class="Carga-features" layout-align="center center">
        <h2 class="md-display-2 Carga-featuresMainTitle">Liberar de digital</h2>
        <div class="md-title Carga-featuresMainDescription">Archivo</div>
        <carga-trabajo></carga-trabajo>
    </div>
</div>
