@import "../../../material/project";

body{
    font-family: 'Lato', sans-serif;
}

.Carga{
    height: 100%;
}

.Carga-features{
    text-align: center;
    margin: 60px 10px;
    min-height: 700px;
}

.Carga-featuresMainTitle{
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 15px;
    color: $navy;
}

.Carga-featuresMainDescription{
    width: 70%;
    margin: 0 auto 30px;
    color: $black;
    font-weight: 300;
}