.formZ {
	margin: auto;
	width: 100%;
}
.w60{
    width: 60%;
}
.w70{
	margin: auto;
	width: 70%;
}
section {
    background: hsla(197, 74%, 9%, 0.01);
    border-radius: 3px;
    text-align: center;
    margin: auto;
    position: relative !important;
    padding-bottom: 10px; 
}