<form name="userForm">
<section class="w60" ng-if="vm.libros.length > 0">
  <div layout-gt-sm="row" class="formZ">
    <md-table-container class="w70">
      <table md-table>
        <thead md-head>
          <tr md-row>
            <th md-column>Nombre</th>
            <th md-column>Área</th>
            <th md-column>Libros solicitados</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="libro" md-select-id="name" md-auto-select ng-repeat="libro in vm.libros" ng-click="vm.detalleLibros(libro)">
            <td md-cell>{{libro.nombre + ' ' + libro.primer_ap + ' ' + lirbo.segundo_ap}}</td>
            <td md-cell>{{libro.nom_grupo}}</td>
            <td md-cell>{{libro.numero}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>
</section>
</form>