<form name="userForm" ng-submit="vm.buscar()">
<section class="w80">
	<div layout="row" layout-align="start center" class="formX md-block">
    <div flex="30">
      <md-input-container style="width: 100%;">
        <label>Area</label>
        <md-select ng-model="vm.area" ng-change="vm.cambioArea()">
          <md-option ng-repeat="area in vm.areas" value="{{area.id}}">
            {{area.area}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div flex = "5"></div>
    <div flex = "10">
      <md-whiteframe class="md-whiteframe-1dp" ng-if="vm.libros.length > 0">
        <span>{{vm.libros.length}}</span>
      </md-whiteframe>
    </div>
  </div><br>
</section><br>
<section class="w90" ng-if="vm.libros.length > 0">
  <div layout-gt-sm="row" class="formZ">
    <md-table-container class="w95">
      <table md-table>
        <thead md-head md-order="vm.busqueda.order" md-on-reorder="getLibros">
          <tr md-row>
            <th md-column >Oficialia</th>
            <th md-column >Tipo de libro</th>
            <th md-column >Año</th>
            <th md-column >Actas</th>
            <th md-column>Fecha de {{ vm.area == 1 || vm.area == 3? "creación": vm.area == 2? "recepción" : ""}}</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="libro in vm.libros" ng-click="vm.liberar(libro)">
            <td md-cell>{{libro.cve_oficialia}} - {{libro.oficialia.nom_oficialia}}</td>
            <td md-cell>{{libro.tipo_libro.nom_tipo_libro}}</td>
            <td md-cell>{{libro.anio_libro}}</td>
            <td md-cell>{{libro.acta_inicial}} - {{libro.acta_final}}</td>
            <td md-cell>{{libro.created_at}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <!--<md-table-pagination md-limit="vm.busqueda.limit" md-limit-options="[10,15,20]" md-page="vm.busqueda.page" md-total="{{vm.total}}" md-on-paginate="vm.getLibros" md-page-select style="min-width: 1150px"></md-table-pagination>-->
  </div>
</section>
</form>