<md-content class="Page-container">
    <div class="ForgotPassword-formContainer" layout="column" layout-align="center center">
        <h1 class="md-headline">Forgot your password?</h1>
        <forgot-password></forgot-password>
    </div>
</md-content>