<md-content class="Page-Container DemoHeader">
    <div layout="row">
        <div flex="90" flex-offset="5" class="DemoHeader-container">
            <div layout="row" layout-align="space-between">
                <!--<img src="img/logo.png" ui-sref="app.landing" class="DemoHeader-logo"/>-->
                <div layout="row" layout-align="center stretch">
                    <a ng-show="vm.showArea(0)" hide-xs class="DemoHeader-link md-subhead" ng-click="vm.redirect('inventario')">Inventario</a>
                    <a ng-show="vm.showArea(1)" hide-xs class="DemoHeader-link md-subhead" ng-click="vm.redirect('enviar-digital')">Enviar a digital</a>
                    <a ng-show="vm.showArea(2)" hide-xs class="DemoHeader-link md-subhead" ng-click="vm.redirect('carga-trabajo')">Liberar de digital</a>
                    <a ng-show="vm.showArea(3)" hide-xs class="DemoHeader-link md-subhead" ng-click="vm.redirect('enviar-archivo')">Enviar a archivo</a>
                    <a ng-show="vm.showArea(4)" hide-xs class="DemoHeader-link md-subhead" ng-click="vm.redirect('trabajo-pendiente')">Pendientes por area</a>
                    <a ng-show="vm.showArea(5)" hide-xs class="DemoHeader-link md-subhead" ng-click="vm.redirect('imprimir-etiquetas')">Etiquetas</a>

                </div>
                <div layout="row" layout-align="center stretch">
                    <md-switch ng-show="vm.authenticated" md-invert ng-model="vm.connection" aria-label="connection" ng-change="vm.cambioConeccion()">
                        {{vm.connection? "Archivo": "Oficialia"}}
                    </md-switch>
                    <a ng-show="vm.authenticated" hide-xs class="DemoHeader-link md-subhead" ng-click="vm.logout()"><small ng-if="vm.name" id="name">({{vm.name}}) </small>salir</a>
                </div>
            </div>
        </div>
    </div>
</md-content>
<div class="DemoHeader-spacer"></div>
