<div class="Page-Container Pendientes">
    <div class="Pendientes-features" layout-align="center center">
        <h2 class="md-display-2 Pendientes-featuresMainTitle">Pendientes por area</h2>
        <trabajo-pendiente></trabajo-pendiente>
    </div>
</div>
