<div class="Page-Container Digital">
    <div class="Digital-features" layout-align="center center">
        <h2 class="md-display-2 Digital-featuresMainTitle">Enviar a digital</h2>
        <div class="md-title Digital-featuresMainDescription">
        </div>
        <enviar-digital></enviar-digital>
    </div>
</div>
