.etiqueta_nueva {
    border: 1px solid #aaa;
    font-size: 2.5em;
    font-weight: bold;
    height: 22.9em;
    /* left: 0.2em; */
    /* margin-bottom: -367px; */
    padding: 0.6em;
    position: relative;
    text-align: center;
    /* transform: rotate(90deg); */
    top: 0.1em;
    /* -webkit-transform: rotate(90deg); */
    width: 4.1em;
    display: inline-block;
    margin-left: 0.3em;
}
.cve_oficialia {
    left: 0;
    position: absolute;
    /* text-align: center; */
    /* width: 100%; */
    margin-top: 0em;
    height: 1.1em;
}
.anio_nuevo, .cve_oficialia, .oficialia_nueva, .num_lomo_nuevo {
	/*top: 1.5em; */
    /* background-color: red; */
    /* height: 1.1em; */
    left: 0;
    position: absolute;
    /* text-align: center; */
    /* width: 100%; */
    width: 100%;
}
.anio_nuevo {
    margin-top: 0.9em;
    height: 1.1em;
    top: 0.9em;
    /* background-color: black; */
}
.libros_nuevos {
    font-size: 28px;
    font-weight: bold;
    left: 0em;
    position: absolute;
    width: 100%;
    top: 5em;
}
.librox {
    margin-top: -5px;
}
.libro_nuevo {
    font-size: 28px;
    font-weight: bold;
    left: 0em;
    position: absolute;
    width: 100%;
    top: 5em;
}
.oficialia_nueva {
    bottom: 2em;
    font-size: 25px;
    /* left: 0em; */
    /* margin: 0 auto; */
    /* min-height: 93px; */
    position: absolute;
    /* text-align: center; */
    /* top: 33em; */
    width: 100%;
}
.num_lomo_nuevo {
    top: 22.9em;
}
.municipio_nuevo {
    font-size: 35px;
    height: 41%;
    text-align: center;
    margin: 0 auto;
    /* left: 50%; */
    /* position: absolute; */
    /* top: 50%; */
    /* transform: rotate(20deg); */
    /* -webkit-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
    /* -webkit-writing-mode: vertical-rl; */
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
#area_municipio_nueva {
    left: 0em;
    position: absolute;
    top: 11em;
    width: 100%;
}
.cl1 {
    width: 160px;
}
.logo_lomo_nuevo {
    height: 46%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 11em;
    width: 100%;
}
.codigo_barras {
    /* -webkit-transform: rotate(270deg); */
    /* transform: rotate(270deg); */
}
.area_barras {
    /*border: 1px solid #aaa; */
    height: 1.3em;
    left: 0.7em;
    top: 16em;
    -webkit-transform: rotate(270deg);
    /* transform: rotate(270deg); */
    opacity: 0.7;
    position: absolute;
    width: 7.8em;
}
.num_lomo_barras{
    font-size: 13px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    left: -10px;
    top: 21px;
    /* opacity: 0.7; */
    position: relative;
    width: 43px;
}
.hoja {
    /*border: 1px solid #c53838;*/
    color: #333;
    height: 978px;
    width: 737px;
}