<div class="hoja" ng-repeat="hoja in hojas">
	<div class="etiqueta_nueva" ng-repeat="etiqueta in hoja">
		<span class="cve_oficialia">{{etiqueta.oficialia.cve_oficialia}}</span>
		<span class="anio_nuevo">{{etiqueta.anio_libro}}</span>
		<table class="libros_nuevos" ng-if="etiqueta.libros.length > 1">
		  <tr ng-repeat="libro in etiqueta.libros">
		    <td>{{libro.nom_tipo_libro.substr(0,3) == "ADO"? "ADOP" : libro.nom_tipo_libro.substr(0,3)}}</td>
		    <td style="opacity: 0">-</td>
		    <td>{{("00" + libro.num_libro).slice(-2)}}</td>
		    <td>{{' - '}}{{("00" + etiqueta.num_tomo).slice(-2)}}</td>
		  </tr>
		</table>
		<div class="libro_nuevo" ng-if="etiqueta.libros.length == 1">
			<span>{{("00" + etiqueta.libros[0].num_libro).slice(-2)}} - {{("00" + etiqueta.num_tomo).slice(-2)}}</span>
			<span>{{etiqueta.libros[0].nom_tipo_libro.substr(0,3)}}</span>
		</div>
		<div id="area_municipio_nueva">
			<div class="municipio_nuevo">
				{{etiqueta.oficialia.municipio.municipio}}
			</div>
		</div>
		<span class="oficialia_nueva">{{etiqueta.oficialia.nom_oficialia}}<br ng-if="etiqueta.sic_oficialia"><span ng-if="etiqueta.sic_oficialia">(OFICIALIA)</span></span>
		<span class="num_lomo_nuevo">{{etiqueta.num_lomo}}</span>
		<img class="logo_lomo_nuevo" src="/img/logo-etiqueta.jpg">
		<div class="area_barras"><img class="codigo_barras" ng-src="/img/codigos_barras/{{etiqueta.codigo}}"></div>
	</div>	
</div>