<form ng-submit="vm.login()">
	<div>
		<md-input-container class="LoginForm-inputContainer">
			<label>Usuario</label>
			<input type="text" ng-model="vm.username" autocomplete="off">
		</md-input-container>
	</div>

	<div>
		<md-input-container class="LoginForm-inputContainer">
			<label>Contraseña</label>
			<input type="password" ng-model="vm.password">
		</md-input-container>
	</div>

	<md-button type="submit" class="LoginForm-submit md-primary md-raised">Entrar</md-button>
</form>
