<div class="Page-Container Landing">
    <div class="Landing-laravelAngular">
        <div layout="column" layout-gt-sm="row">
            <div flex="50" class="Landing-laravel" layout-align="center center">
                XXX
            </div>
            <div flex="50" class="Landing-angular" layout-align="center center">
                YYY
            </div>
        </div>        
    </div>
    <div class="Landing-features" layout-align="center center">
        <h1 class="md-display-2 Landing-featuresMainTitle">Inventario de libros</h1>
        <div class="md-title Landing-featuresMainDescription">
            Archivo
        </div>
        <br/>
        <div>
            <div layout="column" layout-gt-sm="row" layout-align="space-around">
                <div flex="33">
                    AAAA
                </div>
                <div flex="33">
                    BBBB
                </div>
                <div flex="33">
                    CCCC
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <landing-menu></landing-menu>
    </div>
</div>
