<div class="Page-Container Libros">
    <div class="Libros-features" layout-align="center center">
	    <h2 class="md-display-2 Libros-featuresMainTitle">Control de libros solicitados</h2><br>
	    <libros-solicitados></libros-solicitados>
	</div>
</div>