<md-dialog aria-label="Ubicacion">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Seleccione un número de lomo</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content style="height:200px; width:320px;"><br>
      <div layout="row" layout-align="center center">
        <md-input-container class="md-block" flex="90">
          <label>Lomo</label>
          <md-select ng-model="num_lomo">
            <md-option ng-repeat="lomo in lomos" value="{{lomo}}">
              {{lomo}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="save()" ng-disabled="!num_lomo">
        Guardar
      </md-button>
      <md-button ng-click="cancel()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>