<md-content class="Page-container">
    <div class="EtiquetasLomoNuevas-formContainer" layout="column" layout-align="center center">
        <etiquetas-lomo-nuevas></etiquetas-lomo-nuevas>
    </div>
</md-content>