<form ng-submit="vm.login()">
	<div>
		<md-input-container class="LandingMenu-inputContainer">
			<label>Email</label>
			<input type="email" ng-model="vm.email">
		</md-input-container>
	</div>

	<div>
		<md-input-container class="LandingMenu-inputContainer">
			<label>Password</label>
			<input type="password" ng-model="vm.password">
		</md-input-container>
	</div>

	<md-button type="submit" class="LandingMenu-submit md-primary md-raised">Log in</md-button>
</form>
