body{
    margin: 0;
}
#app-shell-header{
    background-color: white;
    height: 64px;
}
#app-shell-header img{
    padding: 13px 0;
    margin-left: 5%;
}
#app-shell-content{
    min-height: 600px;
}
