.etiqueta_frente {
    color: #212121;
    border: 1px solid rgba(0, 0, 0, 0.12);
    height: 18%;
    top: 84px;
    left: 94px;
    margin-bottom: 152px;
    margin-left: -157px;
    display: inline-block;
    position: relative;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    /* -webkit-transform: rotate(90deg); */
    width: 45%;
}
.logo_frente {
    height: 84%;
    left: 15px;
    /* opacity: 0.2; */
    position: absolute;
    top: 7px;
    width: 25%;
}
.area {
    font-size: 14px;
    /* font-weight: bold; */
    left: 108px;
    position: absolute;
    text-align: center;
    width: 63%;
    top: 10px;
}
.info {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #616161;
    height: 105px;
    left: 109px;
    position: relative;
    top: 47px;
    width: 205px;
}
.barras{
    height: 41px;
    left: 111px;
    opacity: 0.8;
    position: absolute;
    top: 132px;
}
.gob {
    color: rgb(97,97,97);
    font-size: 8px;
    font-weight: bold;
    left: 15px;
    position: absolute;
    text-align: center;
    width: 25%;
    top: 154px;
}
.hline-bottom {
    margin-top: -35px;
    width: 62%;
    margin-left: 110px;
    padding-bottom: 0px;
    border-bottom: 1px solid #777;
}
.municipio_frente {
    font-size: 10px;
    /* font-weight: bold; */
    left: 120px;
    position: absolute;
    text-align: center;
    /* width: 40%; */
    top: 49px;
}
.oficialia_frente {
    font-size: 11px;
    /* font-weight: bold; */
    left: 121px;
    position: absolute;
    text-align: center;
    /* width: 40%; */
    top: 94px;
}
.anio_frente {
    font-size: 11px;
    /* font-weight: bold; */
    left: 121px;
    position: absolute;
    text-align: center;
    /* width: 40%; */
    top: 107px;
}
.lomo_frente {
    font-size: 11px;
    /* font-weight: bold; */
    left: 121px;
    position: absolute;
    text-align: center;
    /* width: 40%; */
    top: 80px;
}
.localidad_frente {
    font-size: 8px;
    /* font-weight: bold; */
    margin-left: 120px;
    position: absolute;
    text-align: center;
    /* width: 61%; */
    top: 60px;
}
.libros_frente {
    font-size: 8px;
    left: 225px;
    position: absolute;
    text-align: center;
    top: 75px;
}