<div class="hoja" ng-repeat="hoja in hojas">
	<div class="etiqueta_frente" ng-repeat="etiqueta in hoja">
		<span class="area">Archivo histórico del registro civil del estado de Sinaloa</span>
		<div class="info"></div>
		<div class="municipio_frente"><strong>MUNICIPIO: </strong>{{etiqueta.oficialia.municipio.municipio}}</div>
		<div class="localidad_frente"><strong>LOCALIDAD: </strong>{{etiqueta.oficialia.nom_oficialia}}</div>
		<div class="oficialia_frente"><strong>Oficialia: </strong>{{etiqueta.oficialia.cve_oficialia}}</div>
		<div class="anio_frente"><strong>Año: </strong>{{etiqueta.anio_libro}}</div>
		<div class="lomo_frente"><strong>Lomo: </strong>{{etiqueta.num_lomo}}</div>
		<table class="libros_frente" ng-if="etiqueta.libros.length > 0">
		  <tr ng-repeat="libro in etiqueta.libros">
		    <td>{{libro.nom_tipo_libro.substr(0,3) == "ADO"? "ADOP" : libro.nom_tipo_libro.substr(0,3)}}</td>
		    <td>{{("00" + libro.num_libro).slice(-2)}}</td>
		    <td>{{("00" + etiqueta.num_tomo).slice(-2)}}</td>
		  </tr>
		</table>
		<div class="hline-bottom"></div>
		<!--<img class="barras" ng-src="/img/codigos_barras/{{etiqueta.codigo}}">-->
		<span class="gob">GOBIERNO DEL ESTADO DE SINALOA</span>
		<img class="logo_frente" src="/img/logo-etiqueta-frente.jpg">
	</div>
</div>