<md-dialog aria-label="Actas">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Actas trabajadas</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content style="height:355px;width: 450px;">
      <md-table-container ng-if="actas && actas.length > 0">
        <table md-table>
          <thead md-head>
            <tr md-row>
              <th md-column>Oficialia</th>
              <th md-column>Año</th>
              <th md-column>Lomo</th>
              <th md-column># Acta</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="acta" md-select-id="name" md-auto-select ng-repeat="acta in actas">
              <td md-cell>{{acta.cve_oficialia}}</td>
              <td md-cell>{{acta.anio_libro}}</td>
              <td md-cell>{{acta.num_lomo}}</td>
              <td md-cell>{{acta.nacimiento.acta}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>