<md-dialog aria-label="Detalles">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Detalle de años capturados</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content style="height:355px;width: 290px;">
      <md-table-container ng-if="anos && anos.length > 0">
        <table md-table md-row-select ng-model="selected">
          <thead md-head>
            <tr md-row>
              <th md-column>Año</th>
              <th md-column>Libros capturados</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="ano" md-select-id="name" md-auto-select ng-repeat="ano in anos">
              <td md-cell>{{ano.anio_libro}}</td>
              <td md-cell>{{ano.libros}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="select()" ng-disabled = "selected.length == 0">
        Seleccionar
      </md-button>
      <md-button ng-click="cancel()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>