<md-dialog aria-label="Actas">
  <form ng-cloak>
    <md-dialog-content style="height:300px;width: 1150px;">
      <md-table-container ng-if="historial && historial.length > 0">
        <table md-table>
          <thead md-head>
            <tr md-row>
              <th md-column>Oficialia</th>
              <th md-column>Año</th>
              <th md-column>Lomo</th>
              <th md-column>Acción</th>
              <th md-column>Usuario</th>
              <th md-column>Ip</th>
              <th md-column>Fecha</th>
              <th md-column>Hora</th>
              <th md-column>Diferencia</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="log" md-select-id="name" md-auto-select ng-repeat="log in historial">
              <td md-cell>{{log.cve_oficialia}}</td>
              <td md-cell>{{log.anio_libro}}</td>
              <td md-cell>{{log.num_lomo}}</td>
              <td md-cell>{{log.accion}}</td>
              <td md-cell>{{log.usuario}}</td>
              <td md-cell>{{log.ip}}</td>
              <td md-cell>{{millisec(log.fecha) | date:'yyyy-MM-dd'}}</td>
              <td md-cell>{{millisec(log.fecha) | date:'HH:mm:ss'}}</td>
              <td md-cell>{{log.diferencia}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>