<md-dialog aria-label="Detalles">
  <form ng-cloak>
    <md-dialog-content style="min-height:400px; width:550px;">
      <md-content layout-padding style="min-height:400px">
        <form name="projectForm">
          <div layout="row" class="mb27m">
            <md-input-container flex="50">
              <label>Oficialía</label>
              <md-select name="oficialia" ng-model="libro.cve_oficialia" disabled>
                <md-option ng-repeat="o in oficialias track by o.cve_oficialia" value="{{o.cve_oficialia}}">{{o.cve_oficialia + ' - ' + o.nom_oficialia}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex="50">
              <label>Tipo de libro</label>
              <md-select name="tipo_libro" ng-model="libro.cve_tipo_libro" disabled>
                <md-option ng-repeat="o in tipos_libros track by o.cve_tipo_libro" value="{{o.cve_tipo_libro}}">{{o.nom_tipo_libro}}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" class="mb50m">
            <md-input-container flex="50">
              <label>Tipo de formato</label>
              <md-select name="tipo_formato" ng-model="libro.cve_tipo_formato" ng-disabled="viewMod">
                <md-option ng-repeat="o in tipos_formatos track by o.cve_tipo_formato" value="{{o.cve_tipo_formato}}">{{o.nom_tipo_formato}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex="50">
              <label>Año</label>
              <input type="text" ng-model="libro.anio_libro" disabled restrict-to="[0-9]" restrict-length="4">
            </md-input-container>
          </div>
          <div layout="row" class="mb50m">
            <md-input-container flex="33">
              <label>Acta inicial</label>
              <input type="text" ng-model="libro.acta_inicial" ng-disabled="viewMod" ng-min="1" ng-max="{{libro.acta_final}}" limit-to-max  restrict-length="4">
              <!--<input type="text" ng-model="libro.acta_inicial" ng-disabled="viewMod" ng-min="1" ng-max="{{libro.acta_final}}" limit-to-max restrict-to="[0-9]" restrict-length="4">-->
            </md-input-container>
            <md-input-container flex="33">
              <label>Acta final</label>
              <input type="text" ng-model="libro.acta_final" ng-disabled="viewMod" ng-min="{{libro.acta_inicial}}" restrict-length="4" ng-blur="updateNumActas()">
              <!--<input type="text" ng-model="libro.acta_final" ng-disabled="viewMod" ng-min="{{libro.acta_inicial}}" restrict-to="[0-9]" restrict-length="4">-->
            </md-input-container>
            <md-input-container flex="33">
              <label>Número de actas</label>
              <input type="text" ng-model="libro.num_actas" ng-disabled="viewMod" restrict-length="4">
              <!--<input type="text" ng-model="libro.num_actas" ng-disabled="viewMod" restrict-to="[0-9]" restrict-length="4">-->
            </md-input-container>
          </div>
          <div layout="row" class="mb50m">
            <md-input-container flex="33" ng-if="!visitador">
              <label>Libro</label>
              <input type="text" ng-model="libro.num_libro" ng-disabled="viewMod" restrict-length="2">
              <!--<input type="text" ng-model="libro.num_libro" ng-disabled="viewMod" restrict-to="[0-9]" restrict-length="2">-->
            </md-input-container>
            <md-input-container flex="33" ng-if="!visitador">
              <label>Tomo</label>
              <input type="text" ng-model="libro.num_tomo" ng-disabled="viewMod" restrict-length="2">
              <!--<input type="text" ng-model="libro.num_tomo" ng-disabled="viewMod" restrict-to="[0-9]" restrict-length="2">-->
            </md-input-container>
            <md-input-container flex="33" ng-if="!visitador">
              <label>Lomo</label>
              <input type="text" ng-model="libro.lomo" ng-disabled="viewMod" restrict-length="5" md-maxlength="5">
              <!--<input type="text" ng-model="libro.lomo" ng-disabled="viewMod" restrict-to="[0-9]" restrict-length="5" md-maxlength="5">-->
            </md-input-container>
             <md-input-container flex="50" ng-if="visitador">
              <label>Libro</label>
              <input type="text" ng-model="libro.num_libro" ng-disabled="viewMod" restrict-length="2">
              <!--<input type="text" ng-model="libro.num_libro" ng-disabled="viewMod" restrict-to="[0-9]" restrict-length="2">-->
            </md-input-container>
          </div>
          <div layout="row" class="mb50m">
            <md-input-container flex="50" ng-if="!visitador">
              <label>Ubicación</label>
              <md-select name="ubicacion" ng-model="libro.cve_ubicacion" ng-disabled="!hrc_oficialia || viewMod || enviar_digital">
                <md-option ng-repeat="o in ubicaciones track by o.cve_ubicacion" value="{{o.cve_ubicacion}}">{{o.nom_ubicacion}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex="50" ng-if="!visitador">
              <label>Condición</label>
              <md-select name="condicion" ng-model="libro.cve_condicion" ng-disabled="viewMod">
                <md-option ng-repeat="o in condiciones track by o.cve_condicion" value="{{o.cve_condicion}}">{{o.nom_condicion}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex="" ng-if="visitador">
              <label>Condición</label>
              <md-select name="condicion" ng-model="libro.cve_condicion" ng-disabled="viewMod">
                <md-option ng-repeat="o in condiciones track by o.cve_condicion" value="{{o.cve_condicion}}">{{o.nom_condicion}}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" class="mt27">
            <md-input-container flex="50" ng-if="!visitador">
              <label>Estatus</label>
              <md-select name="oficialia" ng-model="libro.cve_estatus_libro" ng-disabled="saved || viewMod || enviar_digital || libro.cve_ubicacion == 23 && !hrc_oficialia || visitador">
                <md-option ng-repeat="o in estatus track by o.cve_estatus_libro" value="{{o.cve_estatus_libro}}">{{o.nom_estatus_libro}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex="50">
              <label>Número de cartón</label>
              <input type="text" ng-model="libro.num_carton" ng-disabled="viewMod">
            </md-input-container>
          </div>
        </form>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <!--<span flex ng-if="!visitador"><md-checkbox name="special" ng-model="enviar_digital" ng-change="changeBox()" ng-disabled="saved || viewMod || libro.cve_ubicacion == 23 || visitador">{{viewMod && enviar_digital? 'Enviado a digital': 'Enviar a digital'}}</md-checkbox></span>-->
      <md-button ng-click="save()" ng-if="!viewMod" ng-disabled="!libro.cve_oficialia || !libro.anio_libro">
        Guardar
      </md-button>
      <md-button ng-click="cancel()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>