<md-tabs class="" md-selected="vm.selectedIndex" md-align-tabs="{{vm.bottom ? 'bottom' : 'top'}}" style="min-height: 700px">
  <md-tab id="tab1">
    <md-tab-label>Enviar</md-tab-label>
    <md-tab-body><br>
    <div layout="row" layout-align="start center" class="ml7">
      <div><small>{{vm.deArchivo? "Fecha inicial" : "Fecha de recepción"}}</small></div>
      <div><md-datepicker ng-model="vm.fecha_comprobante" md-placeholder="Seleccione una fecha" md-open-on-focus></md-datepicker></div>
      <div ng-if="vm.deArchivo"><small>Fecha final</small></div>
      <div ng-if="vm.deArchivo"><md-datepicker ng-model="vm.fecha_final" md-placeholder="Seleccione una fecha" md-open-on-focus></md-datepicker></div>
    </div>
    <div layout="row" layout-align="start center" class="ml7">
      <div ng-if="vm.permisos.indexOf(16) !== -1"><md-checkbox name="special" ng-model="vm.deArchivo" ng-change="changeBox()">Agregados en archivo</md-checkbox></div>
    </div>
      <form name="enviarD">
      <section class="w90" ng-if="vm.libros.length > 0">
        <div layout-gt-sm="row" class="formZ">
          <md-table-container class="w95">
            <table md-table md-row-select multiple ng-model="vm.selected">
              <thead md-head md-order="vm.busqueda.order" md-on-reorder="getInventario">
                <tr md-row>
                  <th md-column>Oficialia</th>
                  <th md-column>Tipo de libro</th>
                  <th md-column>Año</th>
                  <th md-column>Número</th>
                  <th md-column>Tomo</th>
                  <th md-column>Lomo</th>
                  <th md-column>Número de actas</th>
                  <th md-column>Acta inicial</th>
                  <th md-column>Acta final</th>
                  <!--<th md-column>Condición</th>-->
                  <th md-column>Ubicación</th>
                  <!--<th md-column md-order-by="cve_tipo_formato">Tipo Formato</th>-->
                  <th md-column>Estatus Libro</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="libro" md-select-id="name" md-auto-select ng-repeat="libro in vm.libros">
                  <td md-cell>{{libro.cve_oficialia? libro.cve_oficialia:''}}</td>
                  <td md-cell>{{libro.cve_tipo_libro? libro.tipo_libro.nom_tipo_libro:''}}</td>
                  <td md-cell>{{libro.anio_libro}}</td>
                  <td md-cell>{{("00"+libro.num_libro).slice(-2)}}</td>
                  <td md-cell>{{("00"+libro.num_tomo).slice(-2)}}</td>
                  <td md-cell>{{libro.lomo}}</td>
                  <td md-cell>{{libro.num_actas}}</td>
                  <td md-cell>{{libro.acta_inicial}}</td>
                  <td md-cell>{{libro.acta_final}}</td>
                  <!--<td md-cell>{{libro.cve_condicion? libro.condicion.nom_condicion: ''}}</td>-->
                  <td md-cell>{{libro.cve_ubicacion? libro.ubicacion_fisica.nom_ubicacion: ''}}</td>
                  <!--<td md-cell>{{libro.cve_tipo_formato? libro.tipo_formato.nom_tipo_formato: ''}}</td>-->
                  <td md-cell>{{libro.cve_estatus_libro? libro.estatus_libro.nom_estatus_libro: ''}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
          <!--<md-table-pagination md-limit="vm.busqueda.limit" md-limit-options="[10,15,20]" md-page="vm.busqueda.page" md-total="{{vm.total}}" md-on-paginate="vm.getInventario" md-page-select style="min-width: 1150px"></md-table-pagination>-->
        </div>
        <div layout="row" layout-align="end center">
          <div><md-button class="md-raised md-primary btnr25" ng-disabled="!vm.writeAccess || vm.selected.length == 0" ng-click="vm.enviarDigital()">Enviar a digital</md-button></div>
        </div>
      </section>
      </form>
    </md-tab-body>
  </md-tab>
  <md-tab id="tab2">
    <md-tab-label>Enviados</md-tab-label>
    <md-tab-body><br>
    <div layout="row" layout-align="start center" class="ml7">
      <div><small>Fecha de envío</small></div>
      <div><md-datepicker ng-model="vm.fecha_envio" md-placeholder="Seleccione una fecha" md-open-on-focus></md-datepicker></div>
    </div>
      <form name="enviados">
      <section class="w90" ng-if="vm.enviados.length > 0">
        <div layout-gt-sm="row" class="formZ">
          <md-table-container class="w95">
            <table md-table md-row-select multiple ng-model="vm.selected2">
              <thead md-head md-order="vm.busqueda.order" md-on-reorder="getInventario">
                <tr md-row>
                  <th md-column>Oficialia</th>
                  <th md-column>Tipo de libro</th>
                  <th md-column>Año</th>
                  <th md-column>Número</th>
                  <th md-column>Tomo</th>
                  <th md-column>Lomo</th>
                  <th md-column>Número de actas</th>
                  <th md-column>Acta inicial</th>
                  <th md-column>Acta final</th>
                  <!--<th md-column>Condición</th>-->
                  <th md-column>Ubicación</th>
                  <!--<th md-column md-order-by="cve_tipo_formato">Tipo Formato</th>-->
                  <th md-column>Estatus Libro</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="libro" md-select-id="name" md-auto-select ng-repeat="libro in vm.enviados">
                  <td md-cell>{{libro.cve_oficialia? libro.cve_oficialia:''}}</td>
                  <td md-cell>{{libro.cve_tipo_libro? libro.tipo_libro.nom_tipo_libro:''}}</td>
                  <td md-cell>{{libro.anio_libro}}</td>
                  <td md-cell>{{("00"+libro.num_libro).slice(-2)}}</td>
                  <td md-cell>{{("00"+libro.num_tomo).slice(-2)}}</td>
                  <td md-cell>{{libro.lomo}}</td>
                  <td md-cell>{{libro.num_actas}}</td>
                  <td md-cell>{{libro.acta_inicial}}</td>
                  <td md-cell>{{libro.acta_final}}</td>
                  <!--<td md-cell>{{libro.cve_condicion? libro.condicion.nom_condicion: ''}}</td>-->
                  <td md-cell>{{libro.cve_ubicacion? libro.ubicacion_fisica.nom_ubicacion: ''}}</td>
                  <!--<td md-cell>{{libro.cve_tipo_formato? libro.tipo_formato.nom_tipo_formato: ''}}</td>-->
                  <td md-cell>{{libro.cve_estatus_libro? libro.estatus_libro.nom_estatus_libro: ''}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
          <!--<md-table-pagination md-limit="vm.busqueda.limit" md-limit-options="[10,15,20]" md-page="vm.busqueda.page" md-total="{{vm.total}}" md-on-paginate="vm.getInventario" md-page-select style="min-width: 1150px"></md-table-pagination>-->
        </div>
        <div layout="row" layout-align="end center">
            <div><md-button class="md-raised md-primary btnr25" ng-disabled="vm.selected2.length == 0" ng-click="vm.enviarCola()">Enviar a cola de impresión</md-button></div>
            <div><md-button class="md-raised md-primary btnr25" ng-disabled="vm.selected2.length == 0" ng-click="vm.imprimirPDF(vm.selected2)">Imprimir comprobante</md-button></div>
        </div>
      </section>
      </form>
    </md-tab-body>
  </md-tab>
  <md-tab id="tab3" ng-if="vm.cola.length > 0">
    <md-tab-label>Cola de impresión</md-tab-label>
    <md-tab-body><br>
      <form name="cola">
      <section class="w90" ng-if="vm.cola.length > 0">
        <div layout-gt-sm="row" class="formZ">
          <md-table-container class="w95">
            <table md-table md-row-select multiple ng-model="vm.selected3">
              <thead md-head md-order="vm.busqueda.order" md-on-reorder="getInventario">
                <tr md-row>
                  <th md-column>Oficialia</th>
                  <th md-column>Tipo de libro</th>
                  <th md-column>Año</th>
                  <th md-column>Número</th>
                  <th md-column>Tomo</th>
                  <th md-column>Lomo</th>
                  <th md-column>Número de actas</th>
                  <th md-column>Acta inicial</th>
                  <th md-column>Acta final</th>
                  <!--<th md-column>Condición</th>-->
                  <th md-column>Ubicación</th>
                  <!--<th md-column md-order-by="cve_tipo_formato">Tipo Formato</th>-->
                  <th md-column>Estatus Libro</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-select="libro" md-select-id="name" md-auto-select ng-repeat="libro in vm.cola">
                  <td md-cell>{{libro.cve_oficialia? libro.cve_oficialia:''}}</td>
                  <td md-cell>{{libro.cve_tipo_libro? libro.tipo_libro.nom_tipo_libro:''}}</td>
                  <td md-cell>{{libro.anio_libro}}</td>
                  <td md-cell>{{("00"+libro.num_libro).slice(-2)}}</td>
                  <td md-cell>{{("00"+libro.num_tomo).slice(-2)}}</td>
                  <td md-cell>{{libro.lomo}}</td>
                  <td md-cell>{{libro.num_actas}}</td>
                  <td md-cell>{{libro.acta_inicial}}</td>
                  <td md-cell>{{libro.acta_final}}</td>
                  <!--<td md-cell>{{libro.cve_condicion? libro.condicion.nom_condicion: ''}}</td>-->
                  <td md-cell>{{libro.cve_ubicacion? libro.ubicacion_fisica.nom_ubicacion: ''}}</td>
                  <!--<td md-cell>{{libro.cve_tipo_formato? libro.tipo_formato.nom_tipo_formato: ''}}</td>-->
                  <td md-cell>{{libro.cve_estatus_libro? libro.estatus_libro.nom_estatus_libro: ''}}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
          <!--<md-table-pagination md-limit="vm.busqueda.limit" md-limit-options="[10,15,20]" md-page="vm.busqueda.page" md-total="{{vm.total}}" md-on-paginate="vm.getInventario" md-page-select style="min-width: 1150px"></md-table-pagination>-->
        </div>
        <div layout="row" layout-align="end center">
            <div><md-button class="md-raised md-primary btnr25" ng-disabled="vm.selected3.length == 0" ng-click="vm.imprimirPDF(vm.selected3)">Imprimir comprobante</md-button></div>
        </div>
      </section>
      </form>
    </md-tab-body>
  </md-tab>
</md-tabs>