section {
    background: hsla(197, 74%, 9%, 0.01);
    border-radius: 3px;
    text-align: center;
    margin: auto;
    position: relative !important;
    padding-bottom: 10px; 
}
.btnr25 {
	right: 25%;
}
md-tabs {
	left: 5%;
}
md-tabs-content-wrapper {
	left: -5%;
    right: 5%;
}
.ml7 {
	margin-left: 7%;
}