<md-dialog aria-label="Ubicacion">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Cambiar ubicación de libros</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content style="height:200px;width:320px;"><br>
      <div layout="row" layout-align="center center">
        <md-input-container class="md-block" flex="90">
          <label>Ubicación</label>
          <md-select ng-model="ubicacion">
            <md-option ng-repeat="ubicacion in ubicaciones" value="{{ubicacion.cve_ubicacion}}" ng-disabled="ubicacion.cve_ubicacion == 1 || ubicacion.cve_ubicacion == 9">
              {{ubicacion.nom_ubicacion}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="save()" ng-disabled="!ubicacion">
        Guardar
      </md-button>
      <md-button ng-click="cancel()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>