<md-content class="Page-container">
    <div class="ImprimirEtiquetas-formContainer" layout="column" layout-align="center center">
        <imprimir-etiquetas style="width: 85%;"></imprimir-etiquetas>
    </div>
</md-content>