<md-content class="Page-container">
	<div flex="80" flex-offset="10">
		<div class="Register-formContainer" layout="column" layout-align="center center">
			<h1 class="md-headline">Crear cuenta</h1>
			<register-form></register-form>
		</div>
	</div>
</md-content>
