.formX {
	margin: auto;
	width: 85%;
}
.formY {
    margin-right: 7%;
	margin-top: -30px;
}
.formZ {
	margin: auto;
	width: 90%;
}
.rbtn {
    padding: 0 6px 0 6px !important;
}
.w250 {
	width : 250px;
}
section {
    background: hsla(197, 74%, 9%, 0.01);
    border-radius: 3px;
    text-align: center;
    margin: auto;
    position: relative !important;
    padding-bottom: 10px; 
}
.w80{
    width: 80%;
}
.w90{
    width: 90%;
}
.w95{
    margin: auto;
    width: 95%;
}
.menuX .md-menuX {  
    padding: 24px; 
}

.menuX .menu-containerX {
  min-height: 200px; 
}
.mb50m { margin-bottom: -50px; }
.mb27m { 
    margin-bottom: -27px; 
    margin-top: 15px;
}
.mt27{
    margin-top: 27px;
}