<form name="userForm" ng-submit="vm.buscar()">
<section class="w80">
	<div layout-gt-sm="row" class="formX">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Tipo de libro</label>
      <md-select ng-model="vm.busqueda.cve_tipo_libro">
        <md-option ng-repeat="tipo_libro in vm.tipos_libros" value="{{tipo_libro.cve_tipo_libro}}">
          {{tipo_libro.nom_tipo_libro}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Oficialia</label>
        <md-select ng-model="vm.busqueda.cve_oficialia">
          <md-option value="">TODAS LAS OFICIALIAS</md-option>
          <md-option ng-repeat="oficialia in vm.oficialias" value="{{oficialia.cve_oficialia}}">
            {{oficialia.cve_oficialia + ' - ' + oficialia.nom_oficialia}}
          </md-option>
        </md-select>
    </md-input-container>
  </div><br>
  <div layout="row"  layout-align="end center" class="h10px">
    <md-button type="submit" class="md-raised md-primary rbtn">Buscar</md-button>
  </div>
</section><br>
<section class="w90" ng-if="vm.libros.length > 0">
  <div layout-gt-sm="row" class="formZ">
    <md-table-container class="w95">
      <table md-table>
        <thead md-head md-order="vm.busqueda.order" md-on-reorder="getLibros">
          <tr md-row>
            <th md-column md-order-by="cve_oficialia">Oficialia</th>
            <th md-column md-order-by="anio_libro">Año</th>
            <th md-column md-order-by="num_libro">Número</th>
            <th md-column md-order-by="num_tomo">Tomo</th>
            <th md-column md-order-by="num_actas">Número de actas</th>
            <th md-column md-order-by="acta_inicial">Acta inicial</th>
            <th md-column md-order-by="acta_final">Acta final</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="libro in vm.libros" ng-click="vm.liberar(libro)">
            <td md-cell>{{libro.cve_oficialia}}</td>
            <td md-cell>{{libro.anio_libro}}</td>
            <td md-cell>{{("00"+libro.num_libro).slice(-2)}}</td>
            <td md-cell>{{("00"+libro.num_tomo).slice(-2)}}</td>
            <td md-cell>{{libro.num_actas}}</td>
            <td md-cell>{{libro.acta_inicial}}</td>
            <td md-cell>{{libro.acta_final}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <!--<md-table-pagination md-limit="vm.busqueda.limit" md-limit-options="[10,15,20]" md-page="vm.busqueda.page" md-total="{{vm.total}}" md-on-paginate="vm.getLibros" md-page-select style="min-width: 1150px"></md-table-pagination>-->
  </div>
</section>
</form>