<form ng-submit="vm.register()">
	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Nombre</label>
			<input type="text" ng-model="vm.name" autocomplete="off">
		</md-input-container>
	</div>
	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Usuario</label>
			<input type="text" ng-model="vm.username" autocomplete="off">
		</md-input-container>
	</div>
	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Correo</label>
			<input type="email" ng-model="vm.email" autocomplete="off">
		</md-input-container>
	</div>

	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Password</label>
			<input type="password" ng-model="vm.password">
		</md-input-container>
	</div>

	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Ip</label>
			<input type="text" ng-model="vm.ip" autocomplete="off">
		</md-input-container>
	</div>

	<div>
		<md-input-container class="RegisterForm-inputContainer">
			<label>Perfil</label>
			<input type="text" ng-model="vm.perfil" autocomplete="off">
		</md-input-container>
	</div>
	<md-button type="submit" class="RegisterForm-submit md-primary md-raised">Registrar</md-button>
</form>
