div.formY.layout-align-end-center.layout-row {
    height: 50px;
}
md-content.md-docs-dark-theme {
    color: rgba(255,255,255,1.0);
    background-color: rgb(48,48,48);
}
md-input-container.md-docs-dark-theme:not(.md-input-invalid).md-input-has-value label {
    color: rgba(255,255,255,0.7);
}
md-input-container.md-docs-dark-theme .md-input {
    color: rgba(255,255,255,1.0);
    border-color: rgba(255,255,255,0.12);
}

md-select[disabled] md-select-value.md-select-value {
    color: rgb(67,94,107);
}
input[disabled].ng-pristine.ng-untouched.ng-valid.md-input.ng-not-empty{
    color: rgb(67,94,107);
}
md-menu-content {
    overflow-y: hidden !important;
}
.formYy {
    margin-right: 7%;
    margin-top: -60px;
    margin-bottom: -60px;
}
#h10px {
    height: 10px;
}