<form name="userForm" ng-submit="vm.buscar()">
<section class="w80">
	<div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Oficialia</label>
        <md-select ng-model="vm.busqueda.cve_oficialia">
          <md-option ng-repeat="oficialia in vm.oficialias" value="{{oficialia.cve_oficialia}}">
            {{oficialia.cve_oficialia + ' - ' + oficialia.nom_oficialia}}
          </md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Tipo de libro</label>
      <md-select ng-model="vm.busqueda.tipo_libro">
        <md-option ng-repeat="tipo_libro in vm.tipos_libros" value="{{tipo_libro.cve_tipo_libro}}">
          {{tipo_libro.nom_tipo_libro}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
      <label>Año</label>
      <!--<input name="postalCode" ng-model="vm.busqueda.anio_libro" restrict-to="[0-9]" restrict-length="4" md-maxlength="4">-->
      <input name="postalCode" ng-model="vm.busqueda.anio_libro" restrict-length="4" md-maxlength="4" autocomplete="off">
    </md-input-container>
  </div>
  <div layout="row"  layout-align="end center" id="h10px">
    <md-button type="button" ng-click="vm.acl()" class="md-raised md-primary rbtn w250" 
      ng-disabled="!vm.busqueda.cve_oficialia || !vm.busqueda.tipo_libro">Años con libros capturados</md-button>
    <md-button type="submit" class="md-raised md-primary rbtn">Buscar</md-button>
    <div class="md-menuX menuX" ng-controller="vm.MenuController as ctrl" ng-cloak="" ng-app="app">
      <div class="menu-containerX" layout-align="center center" layout="column">  
        <md-menu>
          <md-button aria-label="menu" class="md-icon-button md-primary" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin="" md-svg-icon="img/icons/ic_menu_black.svg"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="vm.agregar()" ng-disabled = "vm.noTienePermisoAgregar()">
                <md-icon md-svg-icon="img/icons/add.svg" md-menu-align-target></md-icon>
                Agregar libro
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.eliminar()" ng-disabled = "!vm.validaPermiso(2)">
                <md-icon md-svg-icon="img/icons/remove.svg"></md-icon>
                Eliminar libro
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="vm.modificar()" ng-disabled = "!vm.validaPermiso(1)">
                <md-icon md-svg-icon="img/icons/edit.svg"></md-icon>
                Modificar libro
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="vm.detalles()" ng-disabled = "vm.selected.length != 1">
                <md-icon md-svg-icon="img/icons/details.svg" md-menu-align-target></md-icon>
                Ver detalles del libro
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.actas()" ng-disabled = "vm.selected.length != 1">
                <md-icon md-svg-icon="img/icons/actas.svg"></md-icon>
                Ver actas trabajadas
              </md-button>
            </md-menu-item>
            <md-menu-item ng-if="!vm.sic_oficialia">
              <md-button ng-click="vm.historial()" ng-disabled = "vm.selected.length != 1 || vm.selected.length == 1 && !vm.selected[0].created_at">
                <md-icon md-svg-icon="img/icons/history.svg"></md-icon>
                Ver historial
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </div>
    <!--<md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="vm.openMenu($mdOpenMenu, $event)"><md-icon md-svg-icon="img/icons/ic_menu_black.svg"></md-icon></md-button>-->
  </div>
</section><br>
<section class="w90" ng-if="vm.libros.length > 0">
  <div layout-gt-sm="row" class="formZ">
    <md-table-container class="w95">
      <table md-table md-row-select ng-model="vm.selected">
        <thead md-head md-order="vm.busqueda.order" md-on-reorder="getInventario">
          <tr md-row>
            <th md-column>Año</th>
            <th md-column md-order-by="num_libro">Número</th>
            <th md-column md-order-by="num_tomo">Tomo</th>
            <th md-column md-order-by="lomo">Lomo</th>
            <th md-column md-order-by="num_actas">Número de actas</th>
            <th md-column md-order-by="acta_inicial">Acta inicial</th>
            <th md-column md-order-by="acta_final">Acta final</th>
            <th md-column md-order-by="cve_condicion">Condición</th>
            <th md-column md-order-by="cve_ubicacion">Ubicación</th>
            <th md-column md-order-by="cve_tipo_formato">Tipo Formato</th>
            <th md-column md-order-by="cve_estatus_libro">Estatus Libro</th>
            <th md-column>Fecha de creación</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="libro" md-select-id="name" md-auto-select ng-repeat="libro in vm.libros">
            <td md-cell class="fixed-width">{{libro.anio_libro}}</td>
            <td md-cell>{{("00"+libro.num_libro).slice(-2)}}</td>
            <td md-cell>{{("00"+libro.num_tomo).slice(-2)}}</td>
            <td md-cell>{{libro.lomo}}</td>
            <td md-cell>{{libro.num_actas}}</td>
            <td md-cell>{{libro.acta_inicial}}</td>
            <td md-cell>{{libro.acta_final}}</td>
            <td md-cell>{{libro.cve_condicion? libro.condicion.nom_condicion: ''}}</td>
            <td md-cell>{{libro.cve_ubicacion? libro.ubicacion_fisica.nom_ubicacion: ''}}</td>
            <td md-cell>{{libro.cve_tipo_formato? libro.tipo_formato.nom_tipo_formato: ''}}</td>
            <td md-cell>{{libro.cve_estatus_libro? libro.estatus_libro.nom_estatus_libro: ''}}</td>
            <td md-cell>{{millisec(libro.created_at) | date:'yyyy-MM-dd'}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <!--<md-table-pagination md-limit="vm.busqueda.limit" md-limit-options="[10,15,20]" md-page="vm.busqueda.page" md-total="{{vm.total}}" md-on-paginate="vm.getInventario" md-page-select style="min-width: 1150px"></md-table-pagination>-->
  </div>
</section>
</form>