<div class="hoja" ng-repeat="hoja in hojas">
	<div class="etiqueta" ng-repeat="etiqueta in hoja">
		<span class="cve_oficialia">{{etiqueta.oficialia.cve_oficialia}}</span>
		<span class="anio">{{etiqueta.anio_libro}}</span>
		<table class="libros" ng-if="etiqueta.libros.length > 1">
		  <tr ng-repeat="libro in etiqueta.libros">
		    <td>{{libro.nom_tipo_libro.substr(0,3) == "ADO"? "ADOP" : libro.nom_tipo_libro.substr(0,3)}}</td>
		    <td>{{("00" + libro.num_libro).slice(-2)}}</td>
		    <td>{{("00" + etiqueta.num_tomo).slice(-2)}}</td>
		  </tr>
		</table>
		<div class="libro" ng-if="etiqueta.libros.length == 1">
			<span>{{("00" + etiqueta.libros[0].num_libro).slice(-2)}} - {{("00" + etiqueta.num_tomo).slice(-2)}}</span>
			<span>{{etiqueta.libros[0].nom_tipo_libro}}</span>
		</div>
		<div id="area_municipio">
			<div class="municipio">
				{{etiqueta.oficialia.municipio.municipio}}
			</div>
		</div>
		<span class="oficialia"><div id="bottom-content">{{etiqueta.oficialia.nom_oficialia}}</div></span>
		<span class="num_lomo">{{etiqueta.num_lomo}}</span>
		<img class="logo_lomo" src="/img/logo-etiqueta.jpg">
	</div>	
</div>