<form name="userForm" ng-submit="vm.buscar()">
<section class="w80">
	<div layout="row" layout-align="start center" class="formX md-block">
	    <div flex="30">
	      <md-input-container class="md-block" flex-gt-sm>
  				<label>Codigo de barras</label>
  				<input name="codigo" restrict-to="[0-9 a-z A-Z]" ng-model="vm.codigo_barras" ng-change="vm.codigoNuevo()" ng-model-options="{debounce: 750}" autofocus autocomplete="off">
			  </md-input-container>
	    </div>
  	</div><br>
</section><br>
<section class="w90" ng-if="vm.libros.length > 0">
  <div layout-gt-sm="row" class="formZ">
    <md-table-container class="w95">
      <table md-table>
        <thead md-head>
          <tr md-row>
            <th md-column>Oficialia</th>
            <th md-column>Año</th>
            <th md-column>Tomo</th>
            <th md-column>Lomo</th>
            <th md-column>Tipo</th>
            <th md-column>Opciones</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="libro" md-select-id="name" md-auto-select ng-repeat="libro in vm.libros track by libro.num_lomo">
            <td md-cell>{{libro.oficialia.cve_oficialia + ' - ' + libro.oficialia.nom_oficialia}}</td>
            <td md-cell>{{libro.anio_libro}}</td>
            <td md-cell>{{libro.num_tomo}}</td>
            <td md-cell>{{libro.num_lomo}}</td>
            <td md-cell>{{libro.libros.length > 1? 'MIXTO': (libro.libros.length  == 1? libro.libros[0].nom_tipo_libro.toUpperCase() : '')}}</td>
            <td md-cell>
              <md-button class="md-fab md-mini" aria-label="edit" ng-click="vm.details(libro)">
                <md-icon md-svg-src="img/icons/details.svg"></md-icon>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="remove" ng-click="vm.delete($index)">
                <md-icon md-svg-src="img/icons/remove.svg"></md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <!--<md-table-pagination md-limit="vm.busqueda.limit" md-limit-options="[10,15,20]" md-page="vm.busqueda.page" md-total="{{vm.total}}" md-on-paginate="vm.getInventario" md-page-select style="min-width: 1150px"></md-table-pagination>-->
  </div>
  <md-button class="md-raised md-primary" id="la7" ng-click="logx()">Descargar PDF</md-button>
</section>
</form>