<div class="Page-Container Digital">
    <div class="Digital-features" layout-align="center center">
        <h2 class="md-display-2 Digital-featuresMainTitle">Escaner de libros</h2>
        <div class="md-title Digital-featuresMainDescription">
        </div>
        <escaner-codigos></escaner-codigos>
    </div>
</div>